{% extends "base.html" %}

{% block title %}Mudança de senha{% endblock %}

{% block content %}

<div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h1>Altere sua senha</h1>
        <p>Use o formulário abaixo para alterar sua senha.</p>
      </div>
      <div class="card-body">
        <div class="login-form">
          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              {{ form.old_password.label }}
              <div class="text-danger" role="alert">
                {{ form.old_password.errors }}
              </div>
              {{ form.old_password }}
            </div>
            <div class="form-group">
              {{ form.new_password1.label }}
              <div class="text-danger" role="alert">
                {{ form.new_password1.errors }}
              </div>
              {{ form.new_password1 }}
              <small id="new_password1" class="form-text text-muted">
                Sua senha não pode ser muito parecida com o resto <br>das suas informações pessoais.<br>
                Sua senha precisa conter pelo menos 8 caracteres.<br>
                Sua senha não pode ser uma senha comumente utilizada.<br>
                Sua senha não pode ser inteiramente numérica.</small>
            </div>
            <div class="form-group">
              {{ form.new_password2.label }}
              <div class="text-danger" role="alert">
                {{ form.new_password2.errors }}
              </div>
              {{ form.new_password2 }}
            </div>
            <p><input class="btn btn-primary" type="submit" value="Alterar"></p>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
