{% extends "base.html" %}

{% block title %}Recuperação de senha{% endblock %}

{% block content %}

<div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h1>Recupere sua senha</h1>

        {% if validlink %}
          <p class="text-primary">Por favor entre com sua nova senha:</p>
          <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="btn btn-success" type="submit" value="Mudar minha senha" /></p>
          </form>
        {% else %}
          <p>O link para recuperar a senha é inválido, possivelmente porque ele já foi usado. Por favor solicite um novo link.</p>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="login-form">
          <form method="post">
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock %}
