{% extends "base.html" %}

{% block title %}Recuperação de senha{% endblock %}

{% block content %}
<div class="d-flex justify-content-center h-100 py-3">
  <div class="card">
    <div class="card-header">
      <h3>Esqueceu sua senha?</h3>
      <p>Informe seu email para definir uma nova senha.</p>
    </div>
    <div class="card-body">
      <div class="login-form">
        <form method="post">
          <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
          </div>
          <p class="my-3"><input class="btn btn-primary" type="submit" value="Enviar e-mail"></p>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
